* {
    margin:0;
    background-color: rgb(66, 66, 108);
}

#gui {
    border:solid aqua;
    height:80vh;
    margin-top:9vh;
    background-color: rgb(66, 66, 108);
}

#computer_container {
    border:solid;
    background-color: aquamarine;
    height:35%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:5vh;
}
#computer_choice {
    background-color: aquamarine;
    font-size:15vh;
}


/* player field */
#player_container {
    border:solid;
    background-color:rgb(78, 144, 172);
    height:65%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:3.5vh;
}
#player_choice {
    background-color:rgb(78, 144, 172, 0);
    font-size:10vh;
}
button {
    border:none;
    background:none;
    font-size:10vh;
    transition:400ms;
}

button:hover {
    cursor:pointer;
    scale: 1.2;
    transition:400ms;
}
#play_game {
    background-color:rgb(66, 66, 108);
    font-size:5vh;
    border-radius: 1rem;
    margin-top:1rem;
}
#play_game:hover {
    scale:0.8;
}

.win, .loss, .draw {
    border-radius: 1.5rem;
    border:solid;
    margin-top:.3vh;
    padding:.5vw;
}
.win {
    background-color: blueviolet;
}
.loss {
    background-color: brown;
}
.draw {
    background-color: bisque;
}

#score_you, #score_computer {
    background-color:rgb(66, 66, 108,0.9);
    border-radius: 2rem;
    padding:.5vw;
    margin-top:.3rem;
    font-size:2vw;
}
#you_number, #computer_number {
    border-radius:1rem;

    font-size:1.3rem;
    background-color: rgb(78, 144, 172, 0);
}

#reset {
    border:solid;
    font-size:large;
    margin-top:.1rem;
}